{% load static %}
<span class='harvey-ball' title='similarity: {{score}}%'>
  {% if score > 80 %}
    <img src='{% static "survey/img/harvey100.svg" %}' width=16 height=16 />
  {% elif score > 60 %}
    <img src='{% static "survey/img/harvey80.svg" %}'  width=16 height=16 />
  {% elif score > 40 %}
    <img src='{% static "survey/img/harvey60.svg" %}'  width=16 height=16 />
  {% elif score > 20 %}
    <img src='{% static "survey/img/harvey40.svg" %}'  width=16 height=16 />
  {% else %}
    <img src='{% static "survey/img/harvey20.svg" %}'  width=16 height=16 />
  {% endif %}
</span>
