{% extends "survey/public_form.html" %}
{% load i18n %}
{% load site_copy %}

{% block title %}{% site_copy "public_form_thanks_title" %}{% endblock %}

{% block content %}
  <div class='container'>
    <h1>{% site_copy "public_form_thanks_title" %}</h1>
    {% filter linebreaks %}
      {% site_copy "public_forum_thanks_content" %}
    {% endfilter %}
    <p><a class='btn btn-primary' href='{% url "public_form" %}'>{% trans "Add another entry" %}</a></p>
  </div>
{% endblock %}

{% block js %}{% endblock %}
