{% extends "base.html" %}
{% load i18n staticfiles compress bootstrap %}
{% load site_copy %}

{% block title %}{% site_copy "public_form_title" %}{% endblock %}

{% block head %}
  {% compress css %}
    <link rel='stylesheet' type='text/css' href='{% static "bootstrap/dist/css/bootstrap.min.css" %}' />
    <link rel='stylesheet' type='text/css' href='{% static "pikaday/css/pikaday.css" %}' />
    <link rel='stylesheet' type='text/css' href='{% static "selectize/dist/css/selectize.bootstrap3.css" %}' />
    <link rel='stylesheet' type='text/css' href='{% static "survey/css/public-form.css" %}' />
  {% endcompress %}
{% endblock %}

{% block content %}
  <div class='container'>
    <h1>{% site_copy "public_form_title" %}</h1>
    <form method='post' action='' enctype='multipart/form-data'>{% csrf_token %}
      <div class='row'>
        <div class='col-sm-6'>
          {% if form.errors %}
            <div class='alert alert-danger'>
              {% trans "Please correct the problems below and submit again." %}
            </div>
          {% endif %}
          <p>{% site_copy "public_form_top_explanation" %}</p>
          {{ form|bootstrap }}
          <div class='form-group'>
            <button type='submit' class='btn btn-primary'>
              {% trans "Submit" %}
            </button>
          </div>
        </div>
        <div class='col-sm-6'>
          <div id='duplicates'></div>
        </div>
      </div>
    </form>
  </div>
{% endblock %}

{% block js %}
  <script type='text/javascript' src='{% url "javascript_i18n" %}'></script>
  <script type='text/javascript'>
    window.DUPLICATES_EXPLANATION = "{% filter escapejs %}{% site_copy "public_form_duplicates_explanation" %}{% endfilter %}";
  </script>
  {% compress js %}
  <script type='text/javascript' src='{% static "react/react.js" %}'></script>
  <script type='text/javascript' src='{% static "react/react-dom.js" %}'></script>
  <script type='text/javascript' src='{% static "jquery/dist/jquery.min.js" %}'></script>
  <script type='text/javascript' src='{% static "csrf.js" %}'></script>
  <script type='text/javascript' src='{% static "lodash/lodash.min.js" %}'></script>
  <script type='text/javascript' src='{% static "moment/moment.js" %}'></script>
  <script type='text/javascript' src='{% static "pikaday/pikaday.js" %}'></script>
  <script type='text/javascript' src='{% static "bootstrap/dist/js/bootstrap.min.js" %}'></script>
  <script type='text/javascript' src='{% static "selectize/dist/js/standalone/selectize.min.js" %}'></script>
  <script type='text/jsx' src='{% static "survey/js/public-form.jsx" %}'></script>
  {% endcompress %}
{% endblock %}
