{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{{ title }} | Worker Fatality database{% endblock %}

{% block branding %}
<h1 id="site-name">Worker Fatality Database</h1>
{% endblock %}

{% block userlinks %}
  <a href='{% url "admin:index" %}'>Site admin</a> /
  {% if user.is_active and user.is_staff %}
      {% url 'django-admindocs-docroot' as docsroot %}
      {% if docsroot %}
          <a href="{{ docsroot }}">{% trans 'Documentation' %}</a> /
      {% endif %}
  {% endif %}
  {% if user.has_usable_password %}
  <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> /
  {% endif %}
  <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block nav-global %}
  <p style='clear: both;'>
    &nbsp; <a href='{% url "admin:survey_workerfatality_changelist" %}'>Explore Database</a>
    &bull; <a href='{% url "spreadsheet" %}'>Upload spreadsheet</a>
    &bull; <a href='{% url "check_saved_duplicates" %}'>Search for saved duplicates</a>
  </p>
{% endblock %}

