{% extends "admin/base_site.html" %}
{% load harvey_balls %}
{% block title %}Search for Saved Duplicates{% endblock %}
{% block content %}

{% if just_updated %}
<p>
  <ul class='messagelist'>
    <li class='info'>
      <a href='{{ just_updated.0.admin_url }}'>{{ just_updated.0 }}</a> and
      <a href='{{ just_updated.1.admin_url }}'>{{ just_updated.1 }}</a>
      marked as non-duplicates.
    </li>
  </ul>
</p>
  
{% endif %}
<h1>Search for saved duplicates in the database</h1>
<div class='key'>
  <p>
  Most similar &rarr; {% harvey_balls 100 %} {% harvey_balls 80 %} {% harvey_balls 60 %} {% harvey_balls 40 %} {% harvey_balls 20 %} &larr; Least similar
  </p>
</div>
<table class='table'>
  <thead>
    <tr>
      <th></th>
      <th>Action</th>
      <th>ID</th>
      <th>Full name</th>
      <th>Event date</th>
      <th>City</th>
      <th>State</th>
      <th>Record created</th>
      <th>Collector</th>
      <th>Description</th>
  </thead>
  <tbody>
  {% for similarity, pair in possible_dups %}
    {% for entry in pair %}
      <tr>
        {% if forloop.counter0 == 0 %}
          <td rowspan='2' style='vertical-align: middle; font-size: 1.5em;'>
            {% harvey_balls similarity %}
          </td>
          <td rowspan='2' style='vertical-align: middle;'>
            <p>
              <a class='button' href='{% url "merge_worker_fatalities" %}?pk1={{pair.0.pk}}&pk2={{pair.1.pk}}'><nobr>Merge records</nobr></a>
            </p>
            <form method='post' action=''>{% csrf_token %}
              <input name='pk1' value='{{ pair.0.pk}}' type='hidden' />
              <input name='pk2' value='{{ pair.1.pk}}' type='hidden' />
              <button class='button' type='submit'><nobr>Not duplicates</nobr></button>
            </form>
          </td>
        {% endif %}
        <td><a href='{{entry.admin_url}}' target='_blank'>{{entry.id}}</a></td>
        <td>{{entry.full_name}}</td>
        <td><nobr>{{entry.date_event}}</nobr></td>
        <td><nobr>{{entry.event_city}}</nobr></td>
        <td><nobr>{{entry.event_state}}</nobr></td>
        <td><nobr>{{entry.date_created}}</nobr></td>
        <td>{{entry.collector}}</td>
        <td title='{{entry.event}}'>{{entry.event|truncatewords:"30"}}</td>
      </tr>
    {% endfor %}
    <tr>
      <td colspan='10' style='background-color: #fafafa'>&nbsp;</td>
    </tr>
  {% endfor %}
    <tr>
      <td colspan='10'>
        {% if has_more %}
          More potential duplicates found.
        {% else %}
          No further potential duplicates found
        {%  endif %}
      </td>
    </tr>
  </tbody>
</table>

{% endblock %}

