{% extends "loudfilters/change_list.html" %}
{% load static %}
{% block object-tools %}
  {{ block.super }}
  <form method='post' action=''>{% csrf_token %}
    <input type='hidden' name='action' value='' />
    <input type='hidden' name='_selected_action' value='0' />
    Export:
    <a href='#' class='spreadsheet-set-action-and-go' 
                data-action='download_csv'>csv</a> |
    <a href='#' class='spreadsheet-set-action-and-go'
                data-action='download_xlsx'>xlsx</a> |
    <a href='#' class='spreadsheet-set-action-and-go'
                data-action='download_json'>json</a> |
    <a href='#' class='spreadsheet-set-action-and-go'
                data-action='empty_csv'>template</a>
  </form>
  <script type='text/javascript'>
    (function($) {
      $(".spreadsheet-set-action-and-go").on("click", function(event) {
        event.preventDefault();
        var $el = $(event.target);
        var form = $el.closest("form");
        var selected_action = $(form).find("[name=_selected_action]");
        var action = $el.attr("data-action");
        if (action === "empty_csv") {
          action = "download_csv";
          selected_action.val("-1");
        } else {
          selected_action.val("0");
        }
        form.find("[name=action]").val(action);
        form.submit();
      });
    })(django.jQuery);
  </script>
  
{% endblock %}
