{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main">
  <h2>Worker Fatalities</h2>
  <ul>
    <li><a href='{% url "admin:survey_workerfatality_changelist" %}'>Worker Fatalities</a></li>
    <li><a href='{% url "admin:survey_uploadinprogress_changelist" %}'>Uploads in progress</a></li>
  </ul>
  <h2>Admin defined fields</h2>
  <ul>
    <li><a href='{% url "admin:survey_affiliation_changelist" %}'>Affiliations</a> (translated)</li>
    <li><a href='{% url "admin:survey_exposure_changelist" %}'>Exposures</a> (translated)</li>
    <li><a href='{% url "admin:survey_occupation_changelist" %}'>Occupations</a> (translated)</li>
    <li><a href='{% url "admin:survey_sitecopy_changelist" %}'>Site copy</a> (translated)</li>
    <li><a href='{% url "admin:naics_naicscode_changelist" %}'>NAICS Codes</a> (translated)</li>
    <li><a href='{% url "admin:survey_collector_changelist" %}'>Collectors</a></li>
  </ul>
  <h2>User defined fields</h2>
  <ul>
    <li><a href='{% url "admin:survey_contract_changelist" %}'>Contractors</a></li>
    <li><a href='{% url "admin:survey_employer_changelist" %}'>Employers</a></li>
    <li><a href='{% url "admin:survey_source_changelist" %}'>Sources</a></li>
  </ul>
  <h2>Authentication and Authorization</h2>
  <ul>
    <li>
      <a href='{% url "admin:auth_user_changelist" %}'>Users</a>: Control who can log into this site, upload spreadsheets, change duplicates, and add or remove records.
      <ul>
        <li>Users must have the "Staff" box checked to be able to upload spreadsheets and manage duplicates.</li>
        <li>Users must have the "Superuser" box checked to be able to change users, translations, and admin defined fields.</li>
      </ul>
    </li>
  </ul>

{% comment %}
{% if app_list %}
    {% for app in app_list %}
        <div class="app-{{ app.app_label }} module">
        <table>
        <caption>
            <a href="{{ app.app_url }}" class="section" title="{% blocktrans with name=app.name %}Models in the {{ name }} application{% endblocktrans %}">{{ app.name }}</a>
        </caption>
        {% for model in app.models %}
            <tr class="model-{{ model.object_name|lower }}">
            {% if model.admin_url %}
                <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
            {% else %}
                <th scope="row">{{ model.name }}</th>
            {% endif %}

            {% if model.add_url %}
                <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}

            {% if model.admin_url %}
                <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            </tr>
        {% endfor %}
        </table>
        </div>
    {% endfor %}
{% else %}
    <p>{% trans "You don't have permission to edit anything." %}</p>
{% endif %}
{% endcomment %}
</div>
{% endblock %}

{% block sidebar %}
<div id="content-related">
    <div class="module" id="recent-actions-module">
        <h2>{% trans 'Recent Actions' %}</h2>
        <h3>{% trans 'My Actions' %}</h3>
            {% load log %}
            {% get_admin_log 10 as admin_log for_user user %}
            {% if not admin_log %}
            <p>{% trans 'None available' %}</p>
            {% else %}
            <ul class="actionlist">
            {% for entry in admin_log %}
            <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
                {% if entry.is_deletion or not entry.get_admin_url %}
                    {{ entry.object_repr }}
                {% else %}
                    <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                {% endif %}
                <br/>
                {% if entry.content_type %}
                    <span class="mini quiet">{% filter capfirst %}{{ entry.content_type }}{% endfilter %}</span>
                {% else %}
                    <span class="mini quiet">{% trans 'Unknown content' %}</span>
                {% endif %}
            </li>
            {% endfor %}
            </ul>
            {% endif %}
    </div>
</div>
{% endblock %}
