{% extends "admin/base_site.html" %}
{% load i18n %}
{% load compress %}
{% load static %}
{% load harvey_balls %}

{% block title %}Merge Worker Fatality Records{% endblock %}
{% block extrahead %}{{ block.super }}
  <link rel='stylesheet' type='text/css' href='{% static "pikaday/css/pikaday.css" %}' />
  <link rel='stylesheet' type='text/css' href='{% static "selectize/dist/css/selectize.css" %}'></script>

  <link rel='stylesheet' type='text/css' href='{% static "survey/css/merge-worker-fatalities.css" %}' />
{% endblock %}


{% block content %}

<h1>Merge Worker Fatality Records</h1>

{{ form.non_field_errors }}
<form class='merge-records' method='post' action=''>{% csrf_token %}
  {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
  <table>
    <tr>
      <th></th>
      <th>
        {% if wf2.pk %}
          <a href='{{wf2.admin_url}}' target='_blank'>record {{wf2.pk}}</a>
        {% elif upload and row %}
          <a href='{{upload.get_absolute_url}}' target='_blank'>{{ upload.name }}</a>
          Row {{row}}
        {% endif %}
      </th> 
      <th><a href='{{wf1.admin_url}}' target='_blank'>record {{wf1.pk}}</a></th> 
    </tr>

    {% for field in form.visible_fields %}
      <tr {% if field.errors %}class='errors'{% endif %}>
        <th><nobr>{{ field.label }}</nobr></td>
        <td class='entry1'>{{ field.other }}</td>
        <td class='entry2'>
          {% if field.errors %}
            <div class='errorlist'>{{ field.errors }}</div>
          {% endif %}
          {{ field }}
        </td>
      </tr>
    {% endfor %}

    <tr>
      <td></td>
      <td style='text-align: center;'>
        {% if wf2.pk %}
          <a class='deletelink js-delete' href='#' data-pk='{{ wf2.pk }}'
             data-type='saved'>Delete {{wf2.pk }}</a>
        {% elif upload and row %}
          <a class='deletelink js-delete' href='#'
             data-row='{{ row }}' data-upload='{{ upload.pk }}'
             data-type='spreadsheet'>Drop row {{ row }}</a>
        {% endif %}
      </td>
      <td style='text-align: center;'>
        <a class='deletelink js-delete' href='#' data-pk='{{ wf1.pk }}'
          data-type='{% if upload %}spreadsheet{% elif wf2.pk %}saved{% endif %}'
          >Delete {{wf1.pk }}</a>
      </td>
    </tr>
    <tr>
      <td style='vertical-align: middle'>
        {% if wf2.pk %}
          <a href='{% url "check_saved_duplicates" %}'>&larr; Cancel</a>
        {% elif upload and row %}
          <a href='{{ upload.get_absolute_url }}'>&larr; Cancel</a>
        {% endif %}
      </td>
      <td style='vertical-align: middle'>
        {% if wf2.pk %}
          <a class='button js-not-duplicates' href='#'>Not Duplicates, keep both</a> 
        {% elif upload and row %}
          <a class='button js-keep-both' href='#'>Not Duplicates, keep both</a>
        {% endif %}
      </td>
      <td>
        <button class='button' type='submit'>
          Save merged record {{wf1.pk}}
        </button>
          {% if wf2.pk %}
            <a href='{{wf2.admin_url}}' target='_blank'>record {{wf2.pk}}</a>
          {% elif upload and row %}
            <a href='{{upload.get_absolute_url}}' target='_blank'>row {{row}}</a>
          {% endif %}
          will be deleted.
      </td>
    </tr>
  </table>
</form>

{% if wf2.pk %}
  <!-- Form for marking two db records as not duplicates -->
  <form id='form-not-duplicates' method='post' action='{% url "check_saved_duplicates" %}'>
    {% csrf_token %}
    <input type='hidden' name='pk1' value='{{ wf1.pk }}' />
    <input type='hidden' name='pk2' value='{{ wf2.pk }}' />
  </form>

  <!-- Form for deleting a db record when comparing two saved records -->
  <form id='form-delete-db-for-saved' method='post' action='{% url "delete_then_check_saved_duplicates" %}'>
    {% csrf_token %}
    <input type='hidden' name='pk' value='' />
  </form>
{% endif %}

{% if upload and row %}
  <!-- Form for marking a row in an upload in progress as not a duplicate -->
  <form id='form-keep-both' method='post' action='{% url "update_pending_spreadsheet_entry" pk=upload.pk %}'>
    {% csrf_token %}
    <input type='hidden' name='action' value='nonduplicates' />
    <input type='hidden' name='row' value='{{ row }}' />
    <input type='hidden' name='id' value='{{ wf1.pk }}' />
  </form>

  <!-- Form for deleting a db record when comparing a spreadsheet row -->
  <form id='form-delete-db-for-spreadsheet' method='post'
      action='{% url "update_pending_spreadsheet_entry" pk=upload.pk %}'>
    {% csrf_token %}
    <input type='hidden' name='action' value='overwrite_db_entry' />
    <input type='hidden' name='row' value='{{ row }}' />
    <input type='hidden' name='id' value='{{ wf1.pk }}' />
  </form>

  <!-- Form for dropping a spreadsheet row -->
  <form id='form-drop-row' method='post'
        action='{% url "update_pending_spreadsheet_entry" pk=upload.pk %}'>
    {% csrf_token %}
    <input type='hidden' name='action' value='discard_row' />
    <input type='hidden' name='row' value='{{ row }}' />
  </form>
{% endif %}

<script type='text/javascript' src='{% url "javascript_i18n" %}'></script>
{% compress js %}
<script type='text/javascript' src='{% static "jquery/dist/jquery.min.js" %}'></script>
<script type='text/javascript' src='{% static "csrf.js" %}'></script>
<script type='text/javascript' src='{% static "moment/moment.js" %}'></script>
<script type='text/javascript' src='{% static "pikaday/pikaday.js" %}'></script>
<script type='text/javascript' src='{% static "selectize/dist/js/standalone/selectize.min.js" %}'></script>
<script type='text/jsx' src='{% static "survey/js/merge-worker-fatalities.jsx" %}'></script>
{% endcompress %}
<script type='text/javascript'>
  // "not duplicates" for comparing two saved records
  jQuery(".js-not-duplicates").on("click", function(event) {
    event.preventDefault();
    jQuery("#form-not-duplicates").submit();
  });

  // "not duplicates" for comparing spreadsheet to saved record
  jQuery(".js-keep-both").on("click", function(event) {
    event.preventDefault();
    jQuery("#form-keep-both").submit();
  });

  // Delete row or db record for both saved and spreadsheet
  jQuery(".js-delete").on("click", function(event) {
    event.preventDefault();
    var $el = jQuery(event.target);
    var pk = $el.attr("data-pk");
    var type = $el.attr("data-type");
    var row = $el.attr("data-row");
    var upload = $el.attr("data-upload");
    if (pk) {
      if (confirm("Really delete " + pk + "? This can't be undone.")) {
        if (type === "saved") {
          jQuery("#form-delete-db-for-saved [name=pk]").val(pk);
          jQuery("#form-delete-db-for-saved").submit();
        } else if (type === "spreadsheet") {
          jQuery("#form-delete-db-for-spreadsheet").submit();
        }
      }
    } else if (row && upload) {
      jQuery("#form-drop-row").submit(); 
    }
  });
</script>
<script type='

{% endblock %}
