{% extends "admin/base_site.html" %}
{% load compress %}
{% load static %}

{% block title %}Upload spreadsheet: {{upload.name}}{% endblock %}
{% block content_title %}
  <h1>Upload spreadsheet: {{upload.name}}</h1>
  <p>Last modified {{ upload.created|timesince }} ago</p>
{% endblock %}
{% block extrahead %}{{ block.super }}
  <link rel='stylesheet' type='text/css' href='{% static "pikaday/css/pikaday.css" %}' />
  <link rel='stylesheet' type='text/css' href='{% static "survey/css/pending-spreadsheet.css" %}' />
  <link rel='stylesheet' type='text/css' href='{% static "survey/css/merge-worker-fatalities.css" %}' />
  <link rel='stylesheet' type='text/css' href='{% static "selectize/dist/css/selectize.css" %}'></script>
  {{ form.media }}
  <script type='text/javascript' src='{% url "javascript_i18n" %}'></script>
  {% compress js %}
    <script type='text/javascript' src='{% static "jquery/dist/jquery.min.js" %}'></script>
    <script type='text/javascript' src='{% static "selectize/dist/js/standalone/selectize.min.js" %}'></script>
    <script type='text/javascript' src='{% static "lodash/lodash.min.js" %}'></script>
    <script type='text/javascript' src='{% static "csrf.js" %}'></script>
    <script type='text/javascript' src='{% static "react/react.js" %}'></script>
    <script type='text/javascript' src='{% static "react/react-dom.js" %}'></script>
    <script type='text/javascript' src='{% static "moment/moment.js" %}'></script>
    <script type='text/javascript' src='{% static "pikaday/pikaday.js" %}'></script>
    <script type='text/jsx' src='{% static "survey/js/pending-spreadsheet.jsx" %}'></script>
  {% endcompress %}
{% endblock %}
{% block content %}
  <form method='post' action='' enctype='multipart/form-data' id='form'>{% csrf_token %}
    <div id='pending-spreadsheet-form'></div>
    <script type='text/javascript'>
      ReactDOM.render(
        React.createElement(PendingSpreadsheetForm, {
          data: {{ form.data_json|safe }},
          updateEntryUrl: "{{ update_entry_url }}"
        }),
        document.getElementById("pending-spreadsheet-form")
      );
    </script>
  </form>
{% endblock %}
