{% extends "admin/base_site.html" %}
{% block title %}Spreadsheet saved{% endblock %}
{% block content_title %}<h1>Spreadsheet saved</h1>{% endblock %}

{% block content %}
  <h2>Success</h2>
  {{ upload.saved_entries.count }} entries from <tt>"{{upload.name}}"</tt> (uploaded by {{ upload.uploader }} on {{upload.created|date}}) saved.
  <ul>
    <li><a href='/admin/survey/workerfatality/'>Explore database</a></li>
    <li><a href='{% url "spreadsheet" %}'>Upload a new spreadsheet</a></li>
  </ul>
{% endblock %}
