{% extends "admin/base_site.html" %}
{% load compress %}
{% load static %}

{% block title %}Upload spreadsheet{% endblock %}
{% block content_title %}<h1>Upload spreadsheet</h1>{% endblock %}
{% block extrahead %}{{ block.super }}
  {{ form.media }}
  <script type='text/javascript' src='{% url "javascript_i18n" %}'></script>
  {% compress js %}
    <script type='text/javascript' src='{% static "jquery/dist/jquery.min.js" %}'></script>
    <script type='text/javascript' src='{% static "csrf.js" %}'></script>
  {% endcompress %}
{% endblock %}
{% block content %}
  <form method='post' action='' enctype='multipart/form-data' id='form'>{% csrf_token %}
    {{ form.as_p }}
    <script type='text/javascript'>
      jQuery("#id_file").on("change", function() {
          jQuery('#form').submit();
          jQuery('#form').find("[type=submit]").prop("disabled", true);
          jQuery('#form').find("[type=submit]").after("<img src='{% static "img/spinner.gif" %}' />")
      });
    </script>
    <p>
      <button type='submit'>Submit</button>
    </p>
  </form>

  <form method='post' action='{% url "admin:survey_workerfatality_changelist" %}'>{% csrf_token %}
    <input type='hidden' name='_selected_action' value='-1' />
    <input type='hidden' name='action' value='download_csv' />
    <a id='download-spreadsheet-template' href='#'>Download spreadsheet template</a> to format your data for upload.
    <script type='text/javascript'>
      $("#download-spreadsheet-template").on("click", function(event) {
        event.preventDefault();
        $(event.target).closest("form").submit();
      });
    </script>
  </form>
{% endblock %}
