.cell-error {
    margin-bottom: 1em;
}
.cell-error .radio-buttons {
    margin-left: 1em;
}
.cell-error .entry-value {
    font-family: monospace;
}

div.table {
  display: table;
}
div.table-row {
  display: table-row;
}
div.table-cell {
  display: table-cell;
  padding: 0.2em;
}
div.table .head {
  font-weight: bold;
  background-color: #fafafa;
}
div.table-row .stripe {
  height: 1em;
  background-color: #fafafa;
  width: 100%;
}
div.table-row-group {
  display: table-row-group;
}
div.table-header-group {
  display: table-header-group;
}
.hundred {
  width: 100%;
}
.selectize-control {
  width: 300px;
  display: inline-block;
  vertical-align: top;
}
.selectize-control .selectize-input {
  padding: 4px;
}
.nobr {
  white-space: nowrap;
}
