.potential-duplicates-holder {
  position: relative;
}
@media(min-width: 750px) {
  .potential-duplicates {
    position: fixed;
    top: 0;
  }
}
.potential-duplicate {
  margin-bottom: 1em;
}
.potential-duplicate .name {
  font-weight: bold;
}
.potential-duplicates .date {
  color: #555;
}
.potential-duplicates .score {
  font-size: smaller;
  color: #aaa;
}
.potential-duplicates .loading {
  position: absolute;
  top: 0;
  left: 0;
}
