.loudfilters .filter {
  background-color: #ffcc33;
  border-radius: 5px;
  padding: 0.2em;
}
.loudfilters ul {
  padding-left: 0.5em;
}
.loudfilters li {
  font-size: bigger;
  font-weight: bold;
  padding: 0.5em;
  list-style-type: none;
  float: left;
  margin-right: 0.5em;
  padding-left: 0;
  margin-left: 0;
}
