{% load i18n %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  {% block head %}{% endblock %}
</head>
<body>
  {% block chooselanguage %}
    <div class='container'>
      {% get_current_language as LANGUAGE_CODE %}
      {% get_available_languages as LANGUAGES %}
      {% get_language_info_list for LANGUAGES as languages %}
      {% for language in languages %}
        {% if language.code == LANGUAGE_CODE %}
          <b>{{ language.name_local }}</b>
        {% else %}
          <form style='display: inline-block;' action="{% url 'set_language' %}" method="post">{% csrf_token %}
            <input name='next' type='hidden' value='{{ redirect_to }}' />
            <input type='hidden' name='language' value='{{ language.code }}' />
            <button type='submit' class='btn btn-default'>{{ language.name_local }}</button>
          </form>
        {% endif %}
      {% endfor %}
    </div>
  {% endblock %}
  {% block content %}
  {% endblock %}
  {% block js %}
  {% endblock %}
</body>
