<div class='loudfilters'>
  {% if filter_links %}
    <ul>
      <li>Filters:</li>
      {% for link, title, value in filter_links %}
        <li>
          <span class='filter'>
            <a href='{{ link }}'>(X)</a> {{title}}{% if value %}: {{value}}{% endif %}
          </span>
        </li>
      {% endfor %}
      <li>
        <a href='{{ clear_link }}'>(reset filters)</a>
      </li>
    </ul>
    <div style='clear: both;'></div>
  {% endif %}
</div>
